:root {
  /* BREAKPOINTS */
  --bp-max-xs: 575px;
  --bp-min-sm: 576px;
  --bp-min-md: 768px;
  --bp-min-lg: 992px;
  --bp-min-xl: 1200px;
  --bp-min-xxl: 1400px;

  /* COLOR */
  --color-background-primary: #ffffff;
  --color-background-secondary: #f3f5f6;
  --color-background-ternary: #9e3040;
  --color-background-quater: #686868;

  /* FONTS */
  --font-family-primary: "Hind Siliguri", sans-serif;
  --font-family-secondary: "Open Sans", sans-serif;

  /* Type Scale 1.2 */
  --font-size-em: 1.2em;
  --font-size-mammoth: 2.488rem;
  --font-size-xhuge: 2.074rem;
  --font-size-huge: 1.728rem;
  --font-size-xlarge: 1.44rem;
  --font-size-large: 1.2rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.833rem;
  --font-size-xsmall: 0.694rem;
  --font-size-tiny: 0.579rem;

  /* SPACING  relative */
  --rem-unit: 0.125rem;
  --rem-base: 1rem;
  --spacing-rem-tiny: calc(2 * var(--rem-unit));
  --spacing-rem-xsmall: calc(4 * var(--rem-unit));
  --spacing-rem-small: calc(6 * var(--rem-unit));
  --spacing-rem-normal: var(--ye-rem-base);
  --spacing-rem-large: calc(10 * var(--rem-unit));
  --spacing-rem-xlarge: calc(12 * var(--rem-unit));
  --spacing-rem-huge: calc(16 * var(--rem-unit));
  --spacing-rem-xhuge: calc(20 * var(--rem-unit));
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background-primary);
  font-family: var(--font-family-primary), sans-serif;
}

/* header section starts here */

header {
  background-color: var(--color-background-secondary);
  display: flex;
  padding-left: 5rem;
  justify-content: space-evenly;
}

.sec-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Sale-hdl {
  font-size: var(--font-size-large);
  font-weight: bolder;
}

svg {
  margin-right: 1rem;
}

/* header section ended here */

/*====*/

/* navbar started here */

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.Cmp-name {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-huge);
  font-weight: bolder;
  padding-right: 10rem;
}
.Nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Nav-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-icon,
.like-icon,
.cart-icon {
  width: 49px;
  height: 49px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0.5rem;
}

.sign-in-btn {
  width: 126px;
  height: 49px;
  border-radius: 5px;
  background-color: var(--color-background-ternary);
  color: var(--color-background-primary);
  font-size: var(--font-size-normal);
  font-weight: bolder;
  border: none;
  cursor: pointer;
  margin-left: 3rem;

  /* transform: translate(1rem , 0); */
}

.link {
  list-style: none;
  margin: 1rem;
  font-size: var(--font-size-large);
  color: var(--color-background-quater);
  font-weight: 900;
}
/* navbar ended here */

/*====*/

/* Hero section starts here */

.wrapper {
  background-image: url("assets/Images/Hero-section-image.png");
  height: 750px;
}

.hero-section {
  position: absolute;
}

.hero-title {
  color: var(--color-background-primary);
  transform: translate(3rem, 10rem);
  display: block;
}

.title-1 {
  font-size: calc(2.5 * var(--font-size-huge));
  font-weight: bolder;
}

.title-2 {
  transform: translateY(-3rem);
  font-size: var(--font-size-large);
  font-weight: bolder;
}

.shop-now-btn {
  height: 49px;
  width: 165px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

/* Hero section end here */

/*====*/

/* Features section starts here */

.feat-wrapper {
  background-color: var(--color-background-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 5rem;
}

.feat-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  width: 100px;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.19);
}

.feat-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.feats {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.feat-body > h3 {
  font-size: var(--font-size-xlarge);
  font-weight: bolder;
  margin-top: 2rem;
}

.feat-body > p {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-normal);
}

/* Features section ends here */

/*====*/

/* Products section starts here */

.feat-prod {
  display: flex;
  margin-top: 5rem;
  padding-left: 3rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.exp-more-prod {
  width: 548px;
  height: 903px;
  border-radius: 2rem;
  background-image: url("assets/Images/Cart-101.png");
}

.prod {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
  flex-wrap: wrap;
  height: 418px;
  width: 329px;
  background-color: var(--color-background-secondary);
  justify-content: space-evenly;
}
.sec-prod-half {
  display: flex;
  align-items: center;
  width: 329px;
}
.prod-img-1 {
  width: 300px;
  height: 190px;
  background-image: url("assets/Images/Cart-1.png");
}

.prod-img-2 {
  width: 300px;
  height: 190px;
  background-image: url("assets/Images/Cart-2.png");
}

.prod-img-3 {
  width: 300px;
  height: 190px;
  background-image: url("assets/Images/Cart-3.png");
}

.prod-img-4 {
  width: 300px;
  height: 190px;
  background-image: url("assets/Images/Cart-4.png");
}

.real-mrp,
.fake-mrp,
.add-cart-btn {
  margin: 1rem;
}

.prod-body {
  margin: 1rem;
}

.real-mrp {
  height: 39px;
  width: 77px;
  color: var(--color-background-ternary);
  font-size: var(--font-size-huge);
  font-weight: bold;
}

.fake-mrp {
  height: 26px;
  width: 49px;
}

.add-cart-btn {
  width: 137px;
  height: 42px;
  border-radius: 5px;
  background-color: var(--color-background-ternary);
  color: var(--color-background-primary);
}

.exp-more-prod {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.exp-more-prod-img > p {
  font-size: calc(1.5 * var(--font-size-mammoth));
  font-weight: bolder;
  color: var(--color-background-primary);
  margin: 4rem;
}

.show-more-btn {
  display: flex;
  justify-content: center;
}

.show-more-btn > button {
  width: 137px;
  height: 42px;
  border-radius: 5px;
  background-color: var(--color-background-ternary);
  color: var(--color-background-primary);
  margin: 4rem;
}

/* Products section ends here */

/*====*/

/* Mid section starts here */

.mid-right {
  width: 749px;
  height: 574px;
  border-radius: 30px;
  background-image: url("assets/Images/Feature-image.png");
}

.mid-section {
  margin: 2rem;
  padding-left: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.mid-left {
  display: flex;
  margin-right: 3rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-background-secondary);
  border-radius: 30px;
  width: 519px;
  height: 482px;
}

.mid-left-title {
  font-size: var(--font-size-mammoth);
  font-weight: bolder;
  padding-left: 3rem;
}

.mid-left-body {
  font-size: var(--font-size-large);
  font-family: var(--font-family-secondary);
  padding-left: 3rem;
  padding-right: 1.5rem;
}

.mid-btn-shop {
  background-color: var(--color-background-ternary);
  color: var(--color-background-primary);
  margin-left: 3rem;
}

/* Mid section ended here */

/*====*/

/* Trending section starts here */

/* Trending section ended here */

/*====*/

/* Testimonials section starts here */

.testi-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testi-title {
  display: flex;
  justify-content: center;
}

.testi-title > p {
  font-size: calc(2 * var(--font-size-xlarge));
  font-weight: bolder;
  font-family: var(--font-family-primary);
}

.testi-body-wrapper {
  background-color: var(--color-background-ternary);
  margin: 5rem;
  border-radius: 2rem;
  display: flex;
  width: 1280px;
  height: 314px;
}

.quote-1,
.quote-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2rem;
}

.quote-2 {
  justify-content: flex-end;
}

.testi-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-background-primary);
}

.testi-body > p {
  font-size: var(--font-size-large);
  font-family: var(--font-family-secondary);
  margin: 2rem 5rem 2rem 5rem;
}

/* Testimonials section ended here */

/*====*/

/* product gallery section starts here */

.prod-gal-title {
  display: flex;
  font-size: var(--font-size-mammoth);
  font-family: var(--font-family-primary);
  font-weight: bolder;
  justify-content: center;
}

.prod-gal {
  display: flex;
  margin: 5rem;
}

.prod-gal-left {
  display: flex;
  flex-direction: column;
}

.prod-gal-right {
  display: flex;
  flex-direction: column;
}
.gal-1,
.gal-2,
.gal-4,
.gal-5 {
  width: 355px;
  height: 240px;
  margin: 1rem;
  border-radius: 5px;
}

.gal-1 {
  background-image: url(assets/Images/PG-1.png);
}

.gal-2 {
  background-image: url(assets/Images/PG-2.png);
}

.gal-3 {
  width: 510px;
  height: 510px;
  margin: 1rem;
  border-radius: 5px;
  background-image: url(assets/Images/PG-3.png);
}

.gal-4 {
  background-image: url(assets/Images/PG-4.png);
}

.gal-5 {
  background-image: url(assets/Images/PG-5.png);
}
/* product gallery section ended here */
